<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.group2.simpletps.mapper.SalesLegMapper">
    <resultMap id="BaseResultMap" type="com.citi.group2.simpletps.entity.SalesLeg">
        <id column="inter_id" jdbcType="VARCHAR" property="interId"/>
        <id column="txn_id" jdbcType="INTEGER" property="txnId"/>
        <result column="inter_v_num" jdbcType="INTEGER" property="interVNum"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="reject_code" jdbcType="VARCHAR" property="rejectCode"/>
        <result column="s_id" jdbcType="INTEGER" property="sId"/>
        <result column="c_id" jdbcType="INTEGER" property="cId"/>
        <result column="cusip" jdbcType="VARCHAR" property="cusip"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="notional_amount" jdbcType="INTEGER" property="notionalAmount"/>
        <result column="matched_trader_leg" jdbcType="INTEGER" property="matchedTraderLeg"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.citi.group2.simpletps.entity.SalesLeg">
        <result column="reject_reason" jdbcType="LONGVARCHAR" property="rejectReason"/>
    </resultMap>
    <sql id="Base_Column_List">
    inter_id, txn_id, inter_v_num, status, reject_code, s_id, c_id, cusip, price, notional_amount, 
    matched_trader_leg
  </sql>
    <sql id="Blob_Column_List">
    reject_reason
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.citi.group2.simpletps.entity.SalesLegKey"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from sales_leg
        where inter_id = #{interId,jdbcType=VARCHAR}
        and txn_id = #{txnId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.citi.group2.simpletps.entity.SalesLegKey">
    delete from sales_leg
    where inter_id = #{interId,jdbcType=VARCHAR}
      and txn_id = #{txnId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.citi.group2.simpletps.entity.SalesLeg">
    insert into sales_leg (inter_id, txn_id, inter_v_num, 
      status, reject_code, s_id, 
      c_id, cusip, price, 
      notional_amount, matched_trader_leg, reject_reason
      )
    values (#{interId,jdbcType=VARCHAR}, #{txnId,jdbcType=INTEGER}, #{interVNum,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{rejectCode,jdbcType=VARCHAR}, #{sId,jdbcType=INTEGER}, 
      #{cId,jdbcType=INTEGER}, #{cusip,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{notionalAmount,jdbcType=INTEGER}, #{matchedTraderLeg,jdbcType=INTEGER}, #{rejectReason,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.citi.group2.simpletps.entity.SalesLeg">
        insert into sales_leg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interId != null">
                inter_id,
            </if>
            <if test="txnId != null">
                txn_id,
            </if>
            <if test="interVNum != null">
                inter_v_num,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="rejectCode != null">
                reject_code,
            </if>
            <if test="sId != null">
                s_id,
            </if>
            <if test="cId != null">
                c_id,
            </if>
            <if test="cusip != null">
                cusip,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="notionalAmount != null">
                notional_amount,
            </if>
            <if test="matchedTraderLeg != null">
                matched_trader_leg,
            </if>
            <if test="rejectReason != null">
                reject_reason,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="interId != null">
                #{interId,jdbcType=VARCHAR},
            </if>
            <if test="txnId != null">
                #{txnId,jdbcType=INTEGER},
            </if>
            <if test="interVNum != null">
                #{interVNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="rejectCode != null">
                #{rejectCode,jdbcType=VARCHAR},
            </if>
            <if test="sId != null">
                #{sId,jdbcType=INTEGER},
            </if>
            <if test="cId != null">
                #{cId,jdbcType=INTEGER},
            </if>
            <if test="cusip != null">
                #{cusip,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="notionalAmount != null">
                #{notionalAmount,jdbcType=INTEGER},
            </if>
            <if test="matchedTraderLeg != null">
                #{matchedTraderLeg,jdbcType=INTEGER},
            </if>
            <if test="rejectReason != null">
                #{rejectReason,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.citi.group2.simpletps.entity.SalesLeg">
        update sales_leg
        <set>
            <if test="interVNum != null">
                inter_v_num = #{interVNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="rejectCode != null">
                reject_code = #{rejectCode,jdbcType=VARCHAR},
            </if>
            <if test="sId != null">
                s_id = #{sId,jdbcType=INTEGER},
            </if>
            <if test="cId != null">
                c_id = #{cId,jdbcType=INTEGER},
            </if>
            <if test="cusip != null">
                cusip = #{cusip,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="notionalAmount != null">
                notional_amount = #{notionalAmount,jdbcType=INTEGER},
            </if>
            <if test="matchedTraderLeg != null">
                matched_trader_leg = #{matchedTraderLeg,jdbcType=INTEGER},
            </if>
            <if test="rejectReason != null">
                reject_reason = #{rejectReason,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where inter_id = #{interId,jdbcType=VARCHAR}
        and txn_id = #{txnId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.citi.group2.simpletps.entity.SalesLeg">
    update sales_leg
    set inter_v_num = #{interVNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      reject_code = #{rejectCode,jdbcType=VARCHAR},
      s_id = #{sId,jdbcType=INTEGER},
      c_id = #{cId,jdbcType=INTEGER},
      cusip = #{cusip,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      notional_amount = #{notionalAmount,jdbcType=INTEGER},
      matched_trader_leg = #{matchedTraderLeg,jdbcType=INTEGER},
      reject_reason = #{rejectReason,jdbcType=LONGVARCHAR}
    where inter_id = #{interId,jdbcType=VARCHAR}
      and txn_id = #{txnId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.citi.group2.simpletps.entity.SalesLeg">
    update sales_leg
    set inter_v_num = #{interVNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      reject_code = #{rejectCode,jdbcType=VARCHAR},
      s_id = #{sId,jdbcType=INTEGER},
      c_id = #{cId,jdbcType=INTEGER},
      cusip = #{cusip,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      notional_amount = #{notionalAmount,jdbcType=INTEGER},
      matched_trader_leg = #{matchedTraderLeg,jdbcType=INTEGER}
    where inter_id = #{interId,jdbcType=VARCHAR}
      and txn_id = #{txnId,jdbcType=INTEGER}
  </update>
    <select id="selectNewestByTxnId" parameterType="java.lang.Integer"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from sales_leg
        where txn_id = #{txnId,jdbcType=INTEGER}
        order by inter_v_num desc limit 0,1
    </select>
    <select id="selectNewestSelective" parameterType="com.citi.group2.simpletps.entity.SalesLeg"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from sales_leg
        <trim suffixOverrides="and">
            <where>
                <if test="interVNum != null">
                    inter_v_num = #{interVNum,jdbcType=INTEGER} and
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=VARCHAR} and
                </if>
                <if test="rejectCode != null">
                    reject_code = #{rejectCode,jdbcType=VARCHAR} and
                </if>
                <if test="sId != null">
                    s_id = #{sId,jdbcType=INTEGER} and
                </if>
                <if test="cId != null">
                    c_id = #{cId,jdbcType=INTEGER} and
                </if>
                <if test="cusip != null">
                    cusip = #{cusip,jdbcType=VARCHAR} and
                </if>
                <if test="price != null">
                    price = #{price,jdbcType=DECIMAL} and
                </if>
                <if test="notionalAmount != null">
                    notional_amount = #{notionalAmount,jdbcType=INTEGER} and
                </if>
                <if test="matchedTraderLeg != null">
                    matched_trader_leg = #{matchedTraderLeg,jdbcType=INTEGER} and
                </if>
                <if test="rejectReason != null">
                    reject_reason = #{rejectReason,jdbcType=LONGVARCHAR} and
                </if>
            </where>
        </trim>
        order by inter_v_num desc limit 0,1
    </select>
</mapper>